---
import "../styles/customfonts.css";

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image = "" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<!-- scripts -->
<script
  src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
  defer></script>
